@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Bellota", system-ui;
        font-weight: 300;
        font-style: normal;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    font-family: "Bellota", system-ui;
        font-weight: 300;
        font-style: normal;
}
nav a:hover{
    color: crimson;
    font-weight: bold;
}
#title{
    color: crimson;
    font-family: "Bellota", system-ui;
    font-weight: bolder;
    font-style: normal;
}
#profile{
    width: 47rem;
    height: 40rem;
}
#about{
    background-color: rgb(10, 10, 10);
}
#aboutProfile{
    width: 35rem;
    height: 29rem;
}
#education{
    border-top: crimson 0.5px solid;
}
#experience{
    border-top: crimson 0.5px solid;
}
.circle{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
#work{
        background-color: rgb(10, 10, 10);
}
#projectImg{
    width: 20rem;
    height: 9rem;
}
#sub{
    font-weight: lighter;
}
#reviewImg{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}
#contact{
    background-color: rgb(10, 10, 10);
}
input{
    background: transparent;
    border-radius: 5px;
}
textarea{
    background: transparent;
    border-radius: 5px;
}
form{
    width: 45rem;
    height: 40rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}