@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: white;
}
#title{
    color: crimson;
}
#profile{
    width: 47rem;
    height: 40rem;
}
#about{
    background-color: rgb(10, 10, 10);
}
#aboutProfile{
    width: 35rem;
    height: 29rem;
}
#education{
    border-top: crimson 0.5px solid;
}
#experience{
    border-top: crimson 0.5px solid;
}
.circle{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
#work{
        background-color: rgb(10, 10, 10);
}
#projectImg{
    width: 20rem;
    height: 9rem;
}